<!DOCTYPE html>
<html lang="en">
<head>
  <title>Customer Checkout</title>
  <% include partials/_metadata.ejs %>

</head>

<body id="checkout">
<header>
<% include partials/_header.ejs %>
</header>


<hr class="featurette-divider">
  <main class="container-fluid">
    <div class="row">
      <h3 class="col-sm-6 text-center">Howdy, <%=data[0].cus_name%>!</h3>
      <h3 class="col-sm-6 text-center">Yer digits: <%=data[0].phone%></h3>
    </div>
    <table id="invoice" class="table table-striped">
    <colgroup span="4"></colgroup>
      <tr class ="column">
        <th class="text-center">Item Name</th>
        <th class="text-center">Quantity</th>
        <th class="text-center">Unit Price</th>
        <th class="text-center">Amount</th>
      </tr>
        <%for(let i = 0; i < data.length; i++) { %>
      <tr>
        <td class="text-center"><%=data[i].name%></td>
        <td class="text-center"><%=data[i].quantity%></td>
        <td class="text-center"><%=data[i].price%></td>
        <td class="text-center"><%=data[i].line_amount%></td>
      </tr>
      <%}%>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td class="text-center">Total</td>
        <td class="text-center"><%=data[0].order_total%></td>
      </tr>
    </table>
    <div class="container-fluid">
      <div class="row">
<!--         <div class="col-sm-8">
          <p> </p>
        </div> -->
        <div class="col-sm-12 pull-right">
          <form class="confirm-order" action="/order-info" method="post">
            <button type="submit" class="pull-right">Confirm Order</button>
          </form>
        </div>
      </div>
    </div>
  </main>

  <% include partials/_footer.ejs %>

</body>
</html>
