<!DOCTYPE html>
<html lang="en">
<head>
  <title>Order For Pick Up</title>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="../vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" type="text/css" href="styles/layout.css">
  <link rel="stylesheet" type="text/css" href="/styles/nav_bar.css">
</head>
<body id="home">
<!-- Top nav bar follows this line -->
<header>
  <% include partials/_header.ejs %>
</header>
<!-- Menu items here -->
<div class="shopping-cart hidden-md hidden-sm hidden-xs">
  <div class="shopping-cart-header">
    <i class="fa fa-shopping-cart cart-icon"></i>
    <span class="badge"></span>
    <div class="shopping-cart-total">
     <!--  <span class="lighter-text">Total:</span>
      <span class="main-color-text">$2,229.97</span> -->
    </div>
  </div>
  <ul class="shopping-cart-items">
  </ul>
  <a href="/checkout" class="checkout-button">Checkout</a>
</div>
<hr class="featurette-divider">
<main id="menu">
    <% for(let type_id in food_types) { %>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <!-- <div class="jumbotron"> -->
              <% for(let e = 0; e < 1; e ++) {%>
              <div class="jumbotron">
                <h1 class="features"><%=food_types[type_id][e].type_name%></h1>

              <%}%>
                <%for(let i = 0; i < food_types[type_id].length; i++) {
                  const food = food_types[type_id][i]%>
                  <form class="pick-item" action="/cart" method="post">
                    <section class="options">
                      <div class="row">
                        <input type="hidden" value="<%=food.id%>" name="food_id">
                        <span class="food-name">
                          <div class="col">
                            <h3><%=food.name%><h3>
                          </div>
                        </span>
                        <div class="w-100"></div>
                        <span class="food-desc">
                          <div class="col"><%=food.description%></div>
                        </span>
                        <div class="w-100"></div>
                        <span class="food-price">
                          <div class="col">
                            <button type="submit" class="btn btn-default">
                              <span class="glyphicon glyphicon-plus"></span>
                              <%= '$' + food.price%>
                            </button>
                            <span class="deleter">Delete</span>
                          </div>
                        </span>
                      </div>
                    </section>
                  </form>
                <%} %>
            </div>
          </div>
          <div class="col-md-2"></div>
        </div>
      </div>
    <% } %>
  </main>

<% include partials/_footer.ejs %>
</body>
</html>
