<!DOCTYPE html>
<html>
<head>
  <title>Order List</title>
    <% include partials/_metadata.ejs %>
</head>
<body class="orders">
<!-- Top nav bar follows this line -->
<header>
  <% include partials/_header.ejs %>
</header>
<hr class="featurette-divider">

  <main role="main" class="container-fluid">

    <div class="row">

      <table class="table table-striped">
        <colgroup span="9"></colgroup>
        <tr>
          <th class="text-center">Order ID</th>
          <th class="text-center">Customer Name</th>
          <th class="text-center">Phone Number</th>
          <th class="text-center">Order Amount</th>
          <th class="text-center">Ordered at</th>
          <th class="text-center">Estimates</th>
          <th class="text-center">Status</th>
          <th class="text-center">Text</th>
          <th class="text-center"></th>
        </tr>
        <% for (let i = data.length -1; i > 0; i--) { %>
        <tr>
          <span>
            <td class=" order-id text-center"><%=data[i].id%></td>
            <td class="text-center"><%=data[i].cus_name%></td>
            <td class="text-center"><%=data[i].phone%></td>
            <td class="text-center"><%=data[i].order_total%></td>
            <td class="text-center"><%=moment(data[i].created_at).format('YYYY-MM-DD HH:mm:ss');%></td>
            <td class="text-center"><span><%=data[i].estimates%></span></td>
            <td class="text-center dropdown">
            <button type="button" class="btn btn-danger btn-xs dropdown-toggle" data-toggle="dropdown"><%=data[i].status_name%></button>
            </td>
            <td class="text-center"><textarea name="time" placeholder="How much longer?"></textarea></td>
            <td class="text-center"><button class="update-time btn btn-danger btn-xs">Update</button></td>
          </form>
        </tr>
        <% } %>
      </table>

    </div>
  </main>

    <% include partials/_footer.ejs %>
  </body>
</html>
