
<!DOCTYPE html>
<html>
<head>
  <title>Order Status</title>
  <% include partials/_metadata.ejs %>
</head>
<body>

  <main class="container-fluid">

    <% include partials/_header.ejs %>

    <div class="row">
      <% for (let i = 0; i < data.length; i++) { %>
      <h4 class="col-sm-6 text-center">Customer Name: <%= data[i].cus_name %></h4>
      <h4 class="col-sm-6 text-center">Customer Phone Number: <%= data[i].phone %></h4>
    </div>

    <div class="row">

      <table class="table table-striped">
        <colgroup span="5"></colgroup>
        <tr>

          <th class="text-center">Order ID</th>
          <th class="text-center">Order Amount</th>
          <th class="text-center">Ordered At</th>
          <th class="text-center">Order Status</th>
          <th class="text-center">Estimates</th>
        </tr>

        <tr>
          <td class="text-center"><%= data[i].id %></td>
          <td class="text-center"><%=data[i].order_total%></td>
          <td class="text-center"><%= moment(data[i].created_at).format('YYYY-MM-DD HH:mm:ss'); %></td>
          <td class="text-center"><%= data[i].status_name %></td>
          <td class="text-center">0.5 hr</td>


        </tr>
        <% } %>


      </table>

    </div>
  </main>
  <% include partials/_footer.ejs %>
</body>
</html>
